export PORT="7000"
export AUTH0_ISSUER_URL="https://dev-o1b2amp2.us.auth0.com/"
export AUTH0_AUDIENCE="https://auth-api.com"

export GOOGLE_CLIENT_ID="542295556495-717b017v874cf1g4i7orkn9ph8v7ngpl.apps.googleusercontent.com"
export GOOGLE_SECRET="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"
